<h1>Nápoles Inicio</h1>
<hr>
<h2>Bienvenido</h2>
<p>Identificate para continuar</p>
<a href="/login">
    <button type="button">Ingresar</button>
</a>
<a href="/register">
    <button type="button">Crear usuario</button>
</a>